<%- include('partials/header-main.ejs') %>
   


<main>

    <div class="main-container">
        <div class="info">
            <form method="GET" action="/main">
            <h1>Welcome</h1>
            <p>How much do you know about anime?
                Do you consider yourself to be some sort of expert?
                Why not take this quiz and find out how much you really know!
            Guess the year the anime was aired and show how much of an otaku you are!</p>
            <button id="ans" class="btn ans" type="submit">Start Quiz</button>
        </form>
        </div>
        <div class="anime-image">
            <img class="anime-img" src="../images/page-logo.png">
        </div>
    </div>

</main>

<%- include('partials/footer.ejs') %>